@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --titulos_tipo: 'Londrina Solid';
  --textos_tipo: 'Inter';
  --marron_oscuro: #471406;
  --background: #F6EEDF;
  --amarillo: #FDB309;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: var(--background);
}

.community-hero {
  display: flex;
  align-items: center;
  gap: 10rem;
  min-height: 100vh;
  padding: 4rem 6rem;
  justify-content: center;
  background-color: var(--marron_oscuro)
}

.community-text h1 {
  font-size: 7rem;
  font-family: var(--titulos_tipo);
  line-height: 0.9;
  text-transform: uppercase;
  color: var(--amarillo);
}

.community-graphic img {
  max-width: 600px;
  width: 100%;
  height: auto;
}


