/* ----------- Fuentes ----------- */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ----------- Variables ----------- */
:root {
    --titulos_tipo: 'Londrina Solid';
    --textos_tipo: 'Inter';
    --marron_oscuro: #471406;
    --background: #F6EEDF;
    --background_check_right: #f0e1c6;
    --footer-back: #2E5098;
}


/* ----------- RESET ----------- */

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: var(--background);
  font-family: var(--textos_tipo);
}

/* ----------- AJUSTAR HEADER Y QUE FUNCIONE LA MITAD DE LO ENTERO ----------- */

/* header {
  height: 80px;
  background: linear-gradient(to right, var(--background) 50%, var(--background_check_right) 50%);
} */


.checkout-layout {
  display: flex;
  height: calc(100vh - 80px); 
}

.checkout-left::-webkit-scrollbar,
.checkout-right::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* columnas */
.checkout-left,
.checkout-right {
  width: 50%;
  overflow-y: auto;
  padding: 2rem;
  padding-top: 7rem;
  -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
}

/* ----------- PARA QUE NO DE ERROR EL PANEL DEL CARRITO ----------- */

.cart-panel {
  position: fixed;
  right: 0;
  height: calc(100vh - 80px);
  overflow-y: auto;
  z-index: 999;
}

/* Borde normal gris */
input {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
}


/* ----------- CSS DEL CHECKOUT IZQUIERDO ----------- */

.checkout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.product {
  padding: 60px;
  background: #f6efe4;
}

.checkout-form {
  padding: 60px;
  background: var(--background_check_right);
}

.product-card {
  display: flex;
  gap: 20px;
  align-items: center;
}

.product-card img {
  width: 200px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  font-weight: bold;
}

.product-total {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  font-weight: bold;

  /* Líneas arriba y abajo */
  border-top: 2px solid var(--footer-back);
  border-bottom: 2px solid var(--footer-back);
  padding: 1rem 0; 
  padding-left: 2rem;
  padding-right: 2rem;
}

.product-total p {
  font-size: 1.3rem;
  margin-bottom: 0;
}


.checkout-left h1 {
  font-family: var(--titulos_tipo);
  color: var(--footer-back);
  font-size: 5rem;
}

.checkout-layout {
  display: flex;
  height: calc(100vh - 80px); 
}
.checkout-left {
  width: 50%;
  height: 100vh;
  overflow-y: auto;
  padding: 2rem;
  padding-top: 7rem;
}


.checkout-product {
  padding-bottom: 3rem;
}


/* ----------- CSS DEL CHECKOUT DERECHO ----------- */

.checkout-right {
  width: 50%;
  overflow-y: auto;
  background: var(--background_check_right);
  height: 100vh;
  box-sizing: border-box; 
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #333;
  margin-bottom: 16px;
}

.btn-primary {
  background: var(--footer-back);
  color: white;
  border: none;

  padding: 18px 28px;
  border-radius: 14px;

  font-family: var(--titulos_tipo);
  font-size: 1.6rem;
  letter-spacing: 0.03rem;

  cursor: pointer;

  box-shadow: 0 8px 20px rgba(46, 80, 152, 0.35);

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 28px rgba(46, 80, 152, 0.45);
}

.checkout-finalizar {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
  margin-top: 3rem;
}


.checkout-finalizar .continue-shopping {
  display: inline-block;
  font-family: var(--textos_tipo);
  font-weight: bold;
  letter-spacing: 0.01rem;

  color: var(--footer-back);
  text-decoration: none;
  background: transparent;

  border-radius: 12px;
  cursor: pointer;

  position: relative;
}

.checkout-finalizar .continue-shopping::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--footer-back);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.checkout-finalizar .continue-shopping:hover::after {
  transform: scaleX(1);
}





.payment {
  padding-bottom: 1rem;
}

.payment .methods {
  display: flex;
  gap: 15px;           
  align-items: center;  
}

.payment .methods_type_mc {
  height: 29px;         
  width: auto;          
  object-fit: contain;  
}

.payment .methods_type_visa {
  height: 25px;         
  width: auto;          
  object-fit: contain;  
}

.payment .methods_type_pp {
  height: 31px;        
  width: auto;          
  object-fit: contain; 
}

.checkout-form .input-group > * {
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  margin-left: 0 !important;
}

.checkout-right .checkout-form .row .input-group label {
  padding-bottom: 1rem;
}

/* ___ PARA CLICKAR IMG Y QUE SE VEAN DIFERENTES OPCIONES ___ */

.tabs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5%;
  margin-left: 1%;
  gap: 1%;
}
  
.tab {
  padding: 10px 20px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--textos_tipo);
  font-weight: bold;
  font-size: 2.5vw;
}
  
.tab:hover {
  background: var(--background);
}

.tab.active {
  background: var(--background);
  border-radius: 11px;
}

/* .content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
} */

.category {
  overflow: hidden;
  height: 0;
  opacity: 0;
  visibility: hidden;
  flex-wrap: wrap;
  gap: 20px;
}






/* ____ CHECKBOX AL LADO FRASE ____ */

label.remember {
  display: flex;
  align-items: center;      
  gap: 10px;                
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;      
}

input.checkbox_remember {
  width: 18px;              
  height: 18px;             
  vertical-align: middle;   
  margin: 0;                
}









/* ----------- MEDIA QUERYS ----------- */

/* ----------- MEDIA QUERYS MOVIL ----------- */

@media (max-width: 1200px) {

  .checkout-right .row {
    grid-template-columns: 1fr;
  }

  .checkout-left {
    padding-top: 10rem;
  }

  .product-card img {
    width: 179px;
  }

.btn-primary {
    font-size: 1.2rem;
  }

}


@media (max-width: 991px) {
  body {
    overflow: auto;
  }

  .checkout-layout {
    flex-direction: column;
    height: auto;
  }

  .checkout-left,
  .checkout-right {
    width: 100%;
    /* overflow: visible; */
  }

  .product-card img {
    width: 169px;
  }

  .h2, h2 {
    font-size: calc(1.12rem + .9vw);
  }
}


@media (max-width: 480px) {
  .tabs {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .tab {
    font-size: 1rem; /* evita el 2.5vw en móvil */
  }
}
